<a href="https://colab.research.google.com/github/rickylukman/Machine-Learning/blob/master/Machine_Learning_Clasification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4/ygFLCLVquVZ_Wabgm-dXb3dcCe6A_lnD4ZadEQNIPXUjvB58zjw_tCY

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [28]:
import pandas as pd
df=pd.read_csv('gdrive/My Drive/used_cars_olah.csv')
df.shape

(20001, 8)

In [6]:
df.head()

   Unnamed: 0     price      year  ...  title_status  transmission  state
0           0  0.000015  0.922330  ...           0.0           0.5    0.0
1           1  0.000000  0.961165  ...           0.0           0.0    0.0
2           2  0.000040  0.951456  ...           0.0           0.0    0.0
3           3  0.000000  0.961165  ...           0.0           0.0    0.0
4           4  0.000043  0.980583  ...           0.0           0.0    0.0

[5 rows x 8 columns]

Menentukan label, price

In [0]:
label = df['state'].copy()
df = df.drop(columns=['state'])

Split menjadi train dan test

In [0]:
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(df, label, test_size = 0.3, random_state = 0)

Training

In [31]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(xTrain,yTrain)
yPredict = model.predict(xTest)
yPredict

array([3, 1, 3, ..., 2, 1, 1])

Evaluasi

In [32]:
y_Actual = pd.Series(yTest, name='Actual')
y_Predict = pd.Series(yPredict, name='Predicted')
df_confusion = pd.crosstab(y_Actual, y_Predict)
df_confusion

Predicted   0    1    2    3
Actual
0          11   99   22   49
1          38  336  105  212
2          54  440  116  277

Akurasi

In [0]:
from sklearn.metrics import classification_report

In [34]:
print(classification_report(yTest,yPredict))

              precision    recall  f1-score   support

           0       0.45      0.99      0.61       181
           1       1.00      0.75      0.86      3866
           2       0.78      0.75      0.76       887
           3       0.58      0.99      0.73      1067

    accuracy                           0.80      6001
   macro avg       0.70      0.87      0.74      6001
weighted avg       0.87      0.80      0.81      6001

In [35]:
from sklearn import metrics
print("Akurasi ",metrics.accuracy_score(yTest,yPredict))

Akurasi  0.8008665222462923