<a href="https://colab.research.google.com/github/rickylukman/Machine-Learning/blob/master/Machine_Learning_Clasification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4/ygFLCLVquVZ_Wabgm-dXb3dcCe6A_lnD4ZadEQNIPXUjvB58zjw_tCY

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [41]:
import pandas as pd
df=pd.read_csv('gdrive/My Drive/used_cars_olah.csv')
df.shape

(20001, 8)

In [4]:
df.head()

   Unnamed: 0     price      year  ...  title_status  transmission  state
0           0  0.000015  0.922330  ...           0.0           0.5    0.0
1           1  0.000000  0.961165  ...           0.0           0.0    0.0
2           2  0.000040  0.951456  ...           0.0           0.0    0.0
3           3  0.000000  0.961165  ...           0.0           0.0    0.0
4           4  0.000043  0.980583  ...           0.0           0.0    0.0

[5 rows x 8 columns]

Menentukan label, price

In [0]:
label = df['state'].copy()
df = df.drop(columns=['state'])

Split menjadi train dan test

In [0]:
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(df, label, test_size = 0.3, random_state = 0)

Training

In [0]:
# from sklearn.naive_bayes import MultinomialNB
# nb = MultinomialNB()
# nb.fit(xTrain.astype('int'),yTrain.astype('int'))
# yPredict = nb.predict(xTest.astype('int'))

from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(xTrain.astype('int'),yTrain.astype('int'))
yPredict = neigh.predict(xTest.astype('int'))

Evaluasi

In [45]:
y_Actual = pd.Series(yTest.astype('int'), name='Actual')
y_Predict = pd.Series(yPredict, name='Predicted')
df_confusion = pd.crosstab(y_Actual, y_Predict)
df_confusion

Predicted     0    1
Actual
0          1452  307

Akurasi

In [0]:
from sklearn.metrics import classification_report

In [46]:
print(classification_report(yTest.astype('int'),yPredict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      4934
           1       1.00      0.99      1.00      1067

    accuracy                           1.00      6001
   macro avg       1.00      1.00      1.00      6001
weighted avg       1.00      1.00      1.00      6001

In [47]:
from sklearn import metrics
print("Akurasi ",metrics.accuracy_score(yTest.astype('int'),yPredict))

Akurasi  0.9983336110648225